.tile{
  width: 28px;
  padding-top: 5px;
  height: 23px;
  background-color: #A4A4A4;
  border: 1px solid black;
  float: left;
  text-align: center;
  font-family: 'helvetica neue', helvetica;
}

.actions{
  font-size: 18px;
  text-transform: uppercase;
  color: teal;
  font-family: 'helvetica neue', helvetica;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
